.beats {
    iframe { 
        margin-bottom: 24px;
    }
    button {
        padding: 8px 32px;
        border: none;
        display: flex;
        font-size: 20px;
        margin: 0 auto;
        border-radius: 10px;
    }
}