.contact {
    padding-bottom: 100px;
    margin-bottom: 48px;
    display: flex;

    & iframe {
        border: none;
    }
    & h2 {
        margin-bottom: 16px;
        border-bottom: 1px solid;
        padding-bottom: 8px;
    }
    div:first-child {
        margin-right: 48px;
    }
    .contactInfo {
        max-width: 330px;
        width: 100%;
        & .contactInfoItem {
            margin-bottom: 16px;
        }
    }
}

.contactInfoIcons {
    display: flex;
    margin-bottom: 48px;
    & button {
        outline: none;
        border: none;
        background: none;
        margin-right: 24px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.enrollBtn {
    padding: 16px;
    width: 100%;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    text-transform: uppercase;
    font-weight: 800;
}

.contactInfoItem {
    display: flex;
    & svg {
        width: 30px;
        height: 30px;
        margin-right: 16px;
    }
    &.contactInfoItemNumber {
        & a {
            font-size: 28px;
            font-weight: 600;
            &:hover {
                opacity: 0.7;
            }
        }
        & svg {
            height: 40px;
        }
    }
}

.contactMap {
    width: 900px;
    height: 500px;
    filter: invert(95%);
    position: relative;
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    .contact {
        padding-bottom: 64px;
        margin-bottom: 32px;
        & iframe {
            height: 350px;
        }
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    .contact {
        padding-bottom: 64px;
        margin-bottom: 32px;
        flex-flow: column-reverse;
        & iframe {
            height: 350px;
            width: 100%;
        }
        & .contactInfo {
            max-width: 100%;
        }
        div:first-child {
            margin-right: 0;
        }
    }
    .contactInfoIcons {
        justify-content: center;
        margin-bottom: 16px;
        & button {
            margin-right: 64px;
        }
    }
    .enrollBtn {
        padding: 8px;
        margin-bottom: 24px;
    }
}
