@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

a {
    color: white;
    text-decoration: none;
}

button {
    color: black;
}

body {
    font-family: 'Poppins', sans-serif;
    background: url('../assets/img/gungli.gif') fixed center no-repeat;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    transition: 0.3s all ease-in-out;
    background-blend-mode: multiply;
    background-size: cover;
    margin: 0 8px 8px 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
    text-transform: uppercase;
}

h1 {
    font-size: 108px;
    line-height: 80px;
}

h2 {
    font-size: 52px;
}

h3 {
    font-size: 42px;
}

button {
    cursor: pointer;
    outline: none;
}

.ymaps3x0--map {
    filter: invert(100%);
    -ms-filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    -o-filter: invert(100%);
}

@media screen and (max-width: 1024px) and (min-width: 768px) {
    h1 {
        font-size: 98px;
    }
    h2 {
        font-size: 42px;
    }
}

@media screen and (max-width: 480px) and (min-width: 360px) {
    h1 {
        font-size: 64px;
        line-height: 46px;
    }
    h2 {
        font-size: 28px;
    }
}

@media screen and (max-width: 480px) and (min-width: 320px) {
    body {
        background-blend-mode: unset;
        height: 100%;
        width: 100%;
        background: url('../assets/img/logo2.png') fixed center no-repeat;
        background-color: #000;
        background-size: cover;
    }
}
